@model IEnumerable<template_csharp_blog.Models.Category>

@{
    ViewData["Title"] = "Index";
}
<body class="Allpage">

<h1>Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

 <h4> Click to see the shows under the catagory!</h4> 
 
           
@foreach (var item in Model) {
  
           
    <ul>
            <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a> 
           </ul>
}

</body>