@{
    ViewData["Title"] = "Home Page";
}

<div class="Welcome">
    <h1 class="title">Welcome to <br /> <strong> <emp> </emp>TV Shows Blog!</strong></h1>
    <p class="mainpageP">The start of television started in the late 1920's, however it wasn't until the 1940's did TV Shows really start to gain popularity.<br />

    Nowadays, it's still a favorite pastime, though there are a lot more options then what was being aired in the past.<br /> <br /> <br /> <strong>What are your favorite shows?</strong>  </p>
  
</div>
